*{
    margin: 0px;
    padding: 0px;
}

/* main */
.main{
    width: auto;
    overflow: hidden;
}

/* navimg */
.navimg{
    position: relative;
    width: 100%;
    /* max-width: 1000 px; */
}
 .navimage{
    width: 100%;
    height: auto;
    /* display: block; */
} 
.navhead{
    color: black;
    position: absolute;
    z-index: 1;
    top: 3vw;
    left: 3vw;
    text-decoration: none;
}
.navhead:hover{
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 500;
}
.nav-item{
    font-size: 1.1rem;
}
.nav-item:hover{
    color: black;
    font-weight: 500;
    text-decoration: overline;
}
.navpara{
    font-size: 5vw;
    position: absolute;
    z-index: 1;
    right: 15vw;
    top: 15vw;
    text-align: center;
    color: white;
    font-family: 'Gabarito', sans-serif;
    font-weight: bold;
}
.navpara2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 400;
}
.navlink{
    position: absolute;
    z-index: 1;
    padding: 1vw;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    left: 45vw;
    bottom: 10vw;
}
.navlink:hover{
    background-color: white;
    opacity: 0.5;
    color: black;
    border: black;
}


.part1head{
    text-align: center;
    font-family: 'Trispace', sans-serif;
    margin-top: 2vw;
    font-size: 2vw;
}
/* part1 */
.part1{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   row-gap: 5px;
   column-gap: 5px;
   margin: 3vw 5vw 5vw 5vw;
}
.div1{
    width: 90%;
    height: auto;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 3px;
    padding: 1vw;
}
.div1:hover{
    box-shadow: 4px 4px 4px 4px rgb(90, 87, 87);

}
.divimg{
    width: 85%;
    height: auto;
    margin-top: 2vw;
}
.divhead{
    font-family: 'Young Serif', serif;
}
.divdays{
    color: red;
}
.divpara{
    padding: 1vw;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    font-size: large;
}
.divlink{
    text-decoration: none;
    border: 1px solid black;
    background-color: orangered;
    padding: 5px 1vw;
    font-size: small;
    color: white;
}
.divlink:hover{
    color: black;
    background-color: white;
}


.para1endlink{
    text-decoration: none;
    border: 1px solid;
    box-shadow: 2px 2px 2px 2px  lightcoral;
    color: white;
    background-color: lightgrey;
    padding: 1vw;
    text-align: center;
    margin-top: 15vw;
    margin-bottom: 10vw;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}
.para1endlink:hover{
    color: black;
}
/* part2 */
.part2{
    width: 100%;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 3vw;
    margin-bottom: 3vw;
}
.part2head{
    text-align: center;
    margin-top: 3vw;
}

.part2vid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* part3 */
.part3{
    width: 100%;
    box-shadow: 2px 2px 2px 2px gray;
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    padding: 2vw;
    gap: 5vw;
}
.part3-1{
    position: relative;
    width: 100%;
}
.part3img1{
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 1vw;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}   
.middletext1{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7vw;
    left: 10vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.part3-1:hover .part3img1{
    opacity: 0.3;
}
.part3-1:hover .middletext1{
    opacity: 1;
}
.text-overlay1{
    color: black;
    padding: 1vw;
}

.part3-2{
  position: relative;
  width: 100%;
}
.part3img2{
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 1vw;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}   
.middletext2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 8vw;
    left: 10vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.part3-2:hover .part3img2{
    opacity: 0.3;
}
.part3-2:hover .middletext2{
    opacity: 1;
}
.text-overlay2{
    color: black;
    padding: 0.5vw;
}

.part3-3{
    position: relative;
    width: 100%;
  }
  .part3img3{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext3{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part3-3:hover .part3img3{
      opacity: 0.3;
  }
  .part3-3:hover .middletext3{
      opacity: 1;
  }
  .text-overlay3{
      color: black;
      padding: 1vw;
  }

  .part3-4{
    position: relative;
    width: 100%;
  }
  .part3img4{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext4{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part3-4:hover .part3img4{
      opacity: 0.3;
  }
  .part3-4:hover .middletext4{
      opacity: 1;
  }
  .text-overlay4{
      color: black;
  }


  /* part4 */
  .part4{
    width: 100%;
    box-shadow: 2px 2px 2px 2px gray;
   gap: 5vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    padding: 2vw;
}

  .part4-1{
    position: relative;
    width: 100%;
  }
  .part4img1{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext5{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part4-1:hover .part4img1{
      opacity: 0.3;
  }
  .part4-1:hover .middletext5{
      opacity: 1;
  }
  .text-overlay5{
      color: black;
  }


  .part4-2{
    position: relative;
    width: 100%;
  }
  .part4img2{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext6{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part4-2:hover .part4img2{
      opacity: 0.3;
  }
  .part4-2:hover .middletext6{
      opacity: 1;
  }
  .text-overlay6{
      color: black;
  }

  .part4-3{
    position: relative;
    width: 100%;
  }
  .part4img3{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext7{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part4-3:hover .part4img3{
      opacity: 0.3;
  }
  .part4-3:hover .middletext7{
      opacity: 1;
  }
  .text-overlay7{
      color: black;
  }

  .part4-4{
    position: relative;
    width: 100%;
  }
  .part4img4{
      width: 100%;
      height: auto;
      border: 1px solid;
      padding: 1vw;
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
  }   
  .middletext8{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 7vw;
      left: 10vw;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .part4-4:hover .part4img4{
      opacity: 0.3;
  }
  .part4-4:hover .middletext8{
      opacity: 1;
  }
  .text-overlay8{
      color: black;
  }


.para{
    font-family: 'Dancing Script', cursive;
    color: brown;
    font-size: larger;
}

/* part5 */
.part5{
    width: 95%;
    /* max-width: 1000 px; */
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 3vw;
    margin-bottom: 3vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    padding: 1vw;
    text-align: center;
}
.part5img{
    width: 75%;
    height: auto;
    padding: 1vw;
    border-radius: 50%;
}  
.part5-div{
    border: 1px solid;
    margin: 1vw 2vw;
    border-radius: 25%;
    padding: 5px;
}
.part5link{
    text-decoration: none;
    color: violet;
}

.fa-envelope{
    margin-left: 49%;
}

/* part6 */
.part6-intro{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: darkblue;
}
.part6{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1vm;
}
.part6-cont{
    text-align: center;
}
.part6img{
    max-width: 25%;
    border-radius: 25%;
    height: auto;
}


/* footer */
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: brown;
    padding: 5vw;
}
.aboutus{
    display: grid;
   grid-template-columns: repeat(1,1fr);
   text-align: center;
}
.flink{
    text-decoration: none;
    color: white;
}
.flink:hover{
    color: black;
}
.socialmedia{
    padding: 2vw;
}
.brand{
    transition: transform 0.3s;
}
.brand:hover{
    animation: bounce 0.5s ease ;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

.fimg{
    width: 50%;
    border-radius: 50%;
    margin-left: 8vw;
}
.fpara{
    padding: 1vw;
}
.fend{
    margin-top: -5vw;
    text-align: center;
    color: white;
    top: 0;

}

@media (max-width:768px) {
    .part1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .navpara{
        text-align: center;
        top: 25vw;
        right: 20vw;
        font-size: 2rem;
    }
    .div1{
        width: 100%;
        height: auto;
    }
    .divlink{
        padding: 0.5rem 1rem;
    }
    .para1endlink{
        text-align: center;
    }
    .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .part3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .middletext1{
        top: 50%;
        left: 50%;
    }
    .middletext2{
        top: 50%;
        left: 50%;
    }
    .middletext3{
        top: 50%;
        left: 50%;
    }
    .middletext4{
        top: 50%;
        left: 50%;
    }
    .middletext1{
        top: 50%;
        left: 50%;
    }
    .part4{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .middletext5{
        top: 50%;
        left: 50%;
    }
    .middletext6{
        top: 50%;
        left: 50%;
    }
    .middletext7{
        top: 50%;
        left: 50%;
    }
    .middletext8{
        top: 50%;
        left: 50%;
    }
    .part5{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .part6{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2vw;
    }
}
